body {
  font-family: "Rubik", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 7.5% 0 7.5%;
}

.header {
  height: 76px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 76px;
  width: 50px;
}

.links {
  height: 76px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: 14px;
}

.link {
  font-weight: 600;
}
